doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8', name='viewport', content="initial-scale=1, maximum-scale=1, user-scalable=no")
    base(href='/')
    title anyWare Demo
    link(rel="stylesheet",href="/bower_components/angular-material/angular-material.css")
  body
    block body
