//- Setup closed state like a chatroom for now
//- TODO Buttons for correct/incorrect response to knock.
//- TODO Interesting interface to visualize and respond to knock.

.col
    h3 Messages
        .overflowable
            p(ng-repeat='message in messages',
            ng-class='{alert: message.user == "chatroom"}') {{message.user}}: {{message.text}}

.clr 
  form(ng-submit='sendMessage()')
    | Message: 
    input(size='60', ng-model='message')
    input(type='submit', value='Send')

.clr
    form(ng-submit='continue()')
        input(type='submit', value='Continue')

