.col
    h3 Messages
        .overflowable
            p(ng-repeat='message in messages',
            ng-class='{alert: message.user == "chatroom"}') {{message.user}}: {{message.text}}

    .clr
        form(ng-submit='respondCorrect()')
            input(type='submit', value='Correct Response')

        form(ng-submit='respondIncorrect()')
            input(type='submit', value='Incorrect Response')
