
form(ng-submit='login()')
    section(layout='row')
        md-input-container
            label Username
            input(ng-model='user.name', required='true', value='username',autofocus)

        md-button(type='submit', value='Login').md-primary
            | Login
