
form(ng-submit='login()')
    section(layout='row')
        md-input-container(flex)
            label Username
            input(ng-model='user.name', required='true', value='username' )

        md-button(type='submit', value='Login')
            | Login
