div
    h3 Users
    .overflowable
      div(ng-repeat='user in users').user 
        div(class="proximity_{{ user.proximity }}", style="background-color: {{ user.color }}").circle
        | {{ user.name }} | {{ user.proximity }}

