.circle {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}

.proximity_0 {
	opacity: 0.5;
}

.proximity_1 {
	opacity: 1;
}

.user {
	margin-bottom: 5px;
}